<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="3" android:versionName="1.1.0-SNAPSHOT" package="org.codepond.wizardroid">
    <uses-sdk android:minSdkVersion="9" android:targetSdkVersion="18"/>
    <application/>
</manifest>